body {
  margin: 0;
  font-family: Arial;
  background: #f9f5ef;
}

header {
  background: maroon;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 80px;
  background: linear-gradient(#f5d08a, white);
}

.btn {
  background: maroon;
  color: white;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.center {
  text-align: center;
}

.form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
